.contact__text,
.contact__tel {
  display: block;
  font-size: 16px;
  margin: 0 15px;
}

.contact__btn {
  display: block;
  width: 60;

  margin-left: auto;
  margin-right: 5px;
  font-family: Segoe UI;
  font-size: 16px;
  color: black;
}

.contact__item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 10px 0;
  align-items: center;
}

.contact__text {
  font-weight: 600;
  width: 175px;
}
.contact__tel {
  width: 175px;
}
